.logo{
    left: 95px;
    top: 126px;
}

.title{
    left: 95px;
    top: 107px;
}

.dots {
    display: inline-block;
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 1px; /* Ajusta la altura según tu diseño */
    background-color: black; /* Color de los puntos */
}

.list-index{
    opacity: 0;
}
