::-webkit-scrollbar {
    display: none;
}
.frame {
    position: relative;
    
}
.frame img {
    position: absolute;
    top: 0;
    left: 0;
}

.logo{
    position: relative;
    left: 100px;
    top: 100px;
}

.title{
    position: relative;
    left: 102px;
    top: -450px;
}

.list-prices{
    position: relative;
    left: 625px;
    top: -1220px;
    font-size: 50px;
    color: #1b1b1b;
}

.pformat{
    font-size: 2rem;
}

.pkg{
    font-size: 2rem;
}

.list-index{
    opacity: 0;
}